$color-primary: #107895;
// $color-primary: #8d61e6;
.header {
  height: min-content;
  //min-height: 85rem; //for ultra wide
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  max-width: 80%;
}
.the-logo {
  position: absolute;
  height: 10rem;
  width: 10rem;
  top: 2rem;
  right: 2rem;
}
.header-quote {
  height: 50rem;
  width: 50rem;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  .header-title {
    font-size: 4rem;
  }
  .colored-text {
    color: $color-primary;
  }
  .header-button {
    height: 10rem;
    width: 45rem;
    background-color: $color-primary;
    color: white;
    border: none;
    border-radius: 1.5rem;
    font-size: 2.8rem;
    transition: all 0.3s;
    outline: none;
    &:hover {
      transform: scale(1.05);
      background-color: darken($color-primary, 10);
      cursor: pointer;
    }
  }
}
.header-logo {
  height: 50rem;
  width: 50rem;
  // z-index: 10;
}
.quote {
  background-color: $color-primary;
  color: white;
  margin-bottom: 3rem;
  min-height: 25rem;
  mix-blend-mode: multiply;
  padding: 2rem;
  position: absolute;
  right: 20rem;
  top: 25rem;
  width: 60rem;
}
.quote-text {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
}
.quote-link {
  // text-decoration: underline;
  align-items: center;
  bottom: 2rem;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  height: min-content;
  justify-content: flex-start;
  position: absolute;
  right: 2rem;
  text-decoration: underline;
  &:hover {
    color: lighten(rgb(129, 86, 214), 30%);
  }
}
.quote-link-arrow {
  font-size: 2rem;

  animation: arrow-animation 1s ease-in-out infinite;
}
@media (max-width: 1500px) {
  .quote {
    // top: 0rem;
    background-color: rgba(129, 86, 214, 0.9);
    color: white;

    mix-blend-mode: multiply;
    padding: 2rem;
    position: absolute;
    right: 15rem;
    width: 55rem;
  }
}
@media (max-width: 1024px) {
  .header {
    grid-column: page-start/page-end;
  }
  .header-image {
    height: 55vh;
  }
  .quote {
    background-color: rgb(129, 86, 214);

    left: 40%;
    position: absolute;
    top: 5%;
    width: 55%;
  }
  .quote-text {
    font-size: 3rem;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .header {
    grid-column: page-start/page-end;
  }
}
@media (min-width: 2500px) {
  .quote-text {
    font-size: 5rem;
  }
}
// animations
.header-animated {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.header-animated-delay {
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-in-left {
  -webkit-animation-name: fade-in-left;
  animation-name: fade-in-left;
}
@keyframes arrow-animation {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0.3rem, 0);
  }
}
